@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
 * {
	 box-sizing: border-box;
	 font-family: 'Montserrat', sans-serif;
	 font-size: 1rem;
}
 body {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 100vw;
	 margin: 0;
	 /* background:#5fbd33; */
	 background-image:linear-gradient(#000000,#4692e3);
	 overflow-x: hidden;
}
 #root {
	 padding: 2rem;
	 border: 2px solid purple;
	 margin-top: 10rem;
	 border-radius: 20px;
	 box-shadow: 1rem 1rem 1.75rem #d7bcc4;
	 display: flex;
	 background-color: white;
	 justify-content: center;
	 align-items: center;
	 justify-content: space-between;
	 width: 57.22rem;
}
 @media (max-width: 62.22rem) {
	 #root {
		 width: 100%;
		 flex-direction: column;
	}
}
 @media (max-width: 30rem) {
	 #root {
		 margin-top: 0.5rem;
	}
}
#form .row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#form .row-container fieldset {
    flex: 1;
    margin-right: 1.25rem;
}
#form .row-container fieldset:nth-child(3) {
    margin-right: 0;
}
#form .payment-details {
    margin-top: 1rem;
    width: 100%;
}
#form .payment-details > div {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
#form button {
    color: #ffffff;
    cursor: pointer;
    outline: none;
    background: #4692e3;
    border: solid 1px #4692e3;
    border-radius: 0.2rem;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
}